<div class="page">
  <div class="pad">
    <span>&Eacute;v&egrave;nements &agrave; venir</span>
    <div class="evts-container">
      <div id="evtsavlist" class="evts-list" (wheel)="onScroll($event)">
        <div id="evtsav" class="evts">
          <div id="evtav" class="evt">

          </div>

          <div id="evtav" class="evt">

          </div>

          <div id="evtav" class="evt">

          </div>

          <div id="evtav" class="evt">

          </div>

          <div id="evtav" class="evt">

          </div>
        </div>
      </div>
    </div>

    <span>&Eacute;v&egrave;nements pass&eacute;s</span>
    <div class="evts">

    </div>
  </div>
</div>

