<body >
  <img class="bckgrnd-galaxie" src="/assets/galaxie.png">
  <div class="menu-bar">
    <img class="main-logo" src="/assets/KOMET-1080-D.png" alt="logo KOMET productions">
    <div class="menu-item-case hvr-float">
      <span class="menu-item hvr-underline-reveal" (click)="onClickMenu(0)">&Eacute;v&egrave;nements</span>
    </div>
    <div class="menu-item-case hvr-float">
      <span class="menu-item hvr-underline-reveal" (click)="onClickMenu(-100)">Artistes</span>
    </div>
    <div class="menu-item-case hvr-float">
      <span class="menu-item hvr-underline-reveal" (click)="onClickMenu(-200)">Projets</span>
    </div>
    <div class="menu-item-case hvr-float">
      <span class="menu-item hvr-underline-reveal" (click)="onClickMenu(-300)">Contact</span>
    </div>
  </div>

  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>

  <div class="display">
    <div id="components" class="components">
      <app-evenements></app-evenements>
      <app-artistes></app-artistes>
      <app-projets></app-projets>
      <app-contact></app-contact>
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <img src="/assets/insta-logo.png" class="rézo-logo" style="height: 65%;">
      <img src="/assets/face-logo.png" class="rézo-logo" style="height: 85%;">
      <img src="/assets/logo-sound.jpg" class="rézo-logo">
    </div>
  </div>
</body>

